<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-90680653-2"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Colombus Capital</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/white.png" rel="icon" />
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- vendor css -->
    <link
      href="{{ url_for('admin_bp.static', filename='lib/fontawesome-free/css/all.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('admin_bp.static', filename='lib/ionicons/css/ionicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('admin_bp.static', filename='lib/typicons.font/typicons.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('admin_bp.static', filename='lib/flag-icon-css/css/flag-icon.min.css')}}"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('admin_bp.static', filename='css/azia.css') }}"
    />
  </head>
  <body>
    <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <a href="index.html" class="az-logo"
            ><img src="static/img/White.png" alt="CC"
          /></a>
        </div>
        <!-- az-header-left -->
        <div class="az-header-menu">
          <div class="az-header-menu-header">
            <a href="{{ url_for('admin_bp.index') }}" class="az-logo"
              ><span></span
            ></a>
          </div>
          <!-- az-header-menu-header -->
          <ul class="nav">
            <li class="nav-item">
              <a href="{{ url_for('admin_bp.index') }}" class="nav-link"
                ><i class="typcn typcn-chart-area-outline"></i> Dashboard</a
              >
            </li>
            <li class="nav-item active">
              <a href="{{ url_for('admin_bp.sign') }}" class="nav-link"
                ><i class="typcn typcn-chart-bar-outline"></i> Register</a
              >
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin_bp.rates') }}" class="nav-link"
                ><i class="typcn typcn-chart-bar-outline"></i> Live Rates</a
              >
            </li>
            <li class="nav-item">
              <a href="{{ url_for('admin_bp.meetings') }}" class="nav-link"
                ><i class="typcn typcn-book"></i> Meetings</a
              >
            </li>
          </ul>
        </div>
        <!-- az-header-menu -->
        <div class="az-header-right">
          <div class="az-header-message">
            <a href="#"
              ><i class="typcn typcn-messages" style="color: #fff"></i
            ></a>
          </div>
          <!-- az-header-message -->
          <div class="dropdown az-header-notification">
            <a href="" class="new"
              ><i class="typcn typcn-bell" style="color: #fff"></i
            ></a>
            <div class="dropdown-menu">
              <div class="az-dropdown-header mg-b-20 d-sm-none">
                <a href="" class="az-header-arrow"
                  ><i class="icon ion-md-arrow-back"></i
                ></a>
              </div>
              <h6 class="az-notification-title">Notifications</h6>
              <p class="az-notification-text">You have 2 unread notification</p>
              <div class="az-notification-list"></div>
              <!-- notification-list -->
              <div class="dropdown-footer">
                <a href="">View All Notifications</a>
              </div>
            </div>
            <!-- dropdown-menu -->
          </div>
          <!-- header-notification -->
          <div class="dropdown az-profile-menu">
            <a href="" class="az-img-user"
              ><img src="static/img/faces/face1.jpg" alt=""
            /></a>
            <div class="dropdown-menu">
              <div class="az-dropdown-header d-sm-none">
                <a href="" class="az-header-arrow"
                  ><i class="icon ion-md-arrow-back"></i
                ></a>
              </div>
              <div class="az-header-profile">
                <div class="az-img-user">
                  <img src="static/img/faces/face1.jpg" alt="" />
                </div>
                <h6>Takwa Karoud</h6>
                <span>Engine</span>
              </div>

              <a href="" class="dropdown-item"
                ><i class="typcn typcn-user-outline"></i> My Profile</a
              >
              <a href="" class="dropdown-item"
                ><i class="typcn typcn-time"></i> Activity Logs</a
              >
              <a href="/admin/out" class="dropdown-item"
                ><i class="typcn typcn-power-outline"></i> Sign Out</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="az-signup-wrapper">
      <div class="az-column-signup-left">
        <div>
          <a href="index.html"
            ><img
              src="static/img/CC_Original.svg"
              style="width: 200px; margin-bottom: -40px; margin-left: -30px"
              alt="CC"
          /></a>
          <h5 style="font-weight: 700">Register Your Clients</h5>
          <p>
            To ensure a seamless and secure registration process for our valued
            clients, this dedicated page has been meticulously designed for
            administrative use only. Here, authorized personnel can register new
            clients by providing essential details such as the client's
            username, password, email address, and an initial rating.
          </p>
          <p>
            Please provide accurate information to ensure a smooth onboarding
            process for each client.
          </p>
        </div>
      </div>
      <!-- az-column-signup-left -->
      <div class="az-column-signup">
        <h1 class="az-logo" style="width: 50px"></h1>
        <div class="az-signup-header">
          <h2>Get Started</h2>
          <h4>
            Please ensure that these credentials are provided to your client for
            login purposes.
          </h4>
          
<!-- Show only if user is logged in -->
{% if current_user.is_authenticated %}
You are already logged in.

<!-- Show if user is NOT logged in -->    
{% else %}
{{ msg }}<br>
          <form action="#" method="post">
            <div class="form-group">
             
            </div>
            <!-- form-group -->
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
              />
            </div>
            <!-- form-group -->
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter your password"
              />
            </div>
           
              <input type="radio" name="options" id="option1" value=1 required> Admin </input> 
              <input type="radio" name="options" id="option2" value=2> Client </input><br>
              <br>
            </div>
            
            <button
              class="btn btn-az-primary btn-block"
              type="submit"
              style="margin-top: 10px; margin-bottom: 5px"
            >
              Create Account
            </button>
            <!-- Link for signin -->
            <span>Already have an account?</span>
            <a href="/signin">Sign in</a>
          </form>
          {% endif %}
        </div>
        <!-- az-signup-header -->
      </div>
      <!-- az-column-signup -->
    </div>
    <!-- az-signup-wrapper -->

    <div class="az-footer ht-40">
      <div class="container ht-100p pd-t-0-f">
        <span
          class="text-muted d-block text-center text-sm-center d-sm-inline-block"
          >Copyright © ColombusCapital.com 2024</span
        >
      </div>
      <!-- container -->
    </div>
    <!-- az-footer -->
    <script>
      $("#myTab a").on("click", function (e) {
        e.preventDefault();
        $(this).tab("show");
      });
    </script>
    <script src="{{ url_for('admin_bp.static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('admin_bp.static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('admin_bp.static', filename='lib/ionicons/ionicons.js') }}"></script>
    <script src="{{ url_for('admin_bp.static', filename='lib/jquery.flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('admin_bp.static', filename='lib/jquery.flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('admin_bp.static', filename='lib/chart.js/Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('admin_bp.static', filename='lib/peity/jquery.peity.min.js') }}"></script>

    <script src="{{ url_for('admin_bp.static', filename='js/azia.js') }}"></script>
    <script src="{{ url_for('admin_bp.static', filename='js/chart.flot.sampledata.js') }}"></script>
    <script src="{{ url_for('admin_bp.static', filename='js/dashboard.sampledata.js') }}"></script>
    <script src="{{ url_for('admin_bp.static', filename='js/jquery.cookie.js') }}"></script>
    <!-- At the end of your body tag, include the libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.0.0-rc.7/html2canvas.min.js"></script>
  </body>
</html>
